# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
Matrimony/dist
Matrimony/tmp
Matrimony/out-tsc
Matrimony/bazel-out

# Node
/Matrimony/node_modules
Matrimony/npm-debug.log
Matrimony/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/Matrimony/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
