<div class="container">
    <div class = "card-header">
        <nav class="navbar fixed-top" style="background-color: #0d5759;">
            <div class="flex-grow-1 ">
                <img src="/assets/Images/logo.jpeg" width="60" height="40" class="img">
            <a class="navbar-brand" routerLink="/">
               <span class="Mazhil">Mazhil</span>
            </a>
        </div>
        <div class="navbar-links">
            <a routerLinkActive="active" routerLink="search/" class="navbar-link">Search</a>
            <a href="#contactSection" class="navbar-linke">
                <img src="/assets/Images/help.png" width="40" height="30" >
                <span>Contact</span>
            </a>
        </div>
        </nav>
    </div>
    <div class="card-body">
  <div class="carousel-inner" data-ride="carousel">
    <div class="carousel-item active">
      <img src="/assets/Images/image1.jpeg"  width="1200" height="1000">
    </div>  
  </div>
    </div>          
</div>
<div class="container contact-container">
    <div id="contactSection">
        <span class="border-0 rounded">
        <h4 class="head">Contact Us Anytime!!</h4>
        <p><strong>Email: </strong><a href="mailto:mazhilmatrimony@gmail.com" class="email-link"><strong class="col">mazhilmatrimony&#64;gmail.com</strong></a></p>
        <p><strong>Phone No :</strong><strong class="col">+1 8579953925</strong></p>
        <!-- Add a Contact Form (optional) -->
        <!-- Add Social Media Links (optional) -->
        <!-- Embed a Map (optional) -->
        </span>
    </div>
</div>

<nav class="navbar fixed-bottom" style="background-color: #0d5759;">
    <div class="container-fluid ">
      <span>© 2024 Mazhil Matrimony</span>
      <span>Innovation with Heart, Crafted by People Power</span>
    </div>
  </nav>