<div class = "card-header">
        <nav class="navbar fixed-top" style="background-color: #0d5759;">
            <div class="flex-grow-1 ">
                <img src="/assets/Images/logo.jpeg" width="60" height="40" class="img">
               <span class="Mazhil">Mazhil</span>
            </div>
        <div class="navbar-links">
            <a routerLinkActive="active" routerLink="/search" class="navbar-link">Search</a>
            <a href="#contactSection" class="navbar-linke">
                <img src="/assets/Images/help.png" width="40" height="30" >
                <span>Contact</span>
            </a>
        </div>
        </nav>
    </div>
      
    <div class="app">
        <router-outlet></router-outlet>

</div>
        <nav class="navbar fixed-bottom" style="background-color: #f0f6f6;">
                <div class="container">
                    <span>© 2024 Mazhil Matrimony</span>
                    <span>Innovation with Heart, Crafted by People Power</span>
                </div>
              </nav>