<div class="container">
    <div class = "card-header">
        <nav class="navbar fixed-top" style="background-color: #0d5759;">
            <div class="flex-grow-1 ">
                <img src="/assets/Images/logo.jpeg" width="70" height="50">
            <a class="navbar-brand" routerLink="/">
               <span class="Mazhil">Mazhil</span>
            </a>
        </div>
          </nav>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>
<nav class="navbar fixed-bottom" style="background-color: #0d5759;">
    <div class="flex-grow-1 custom"> 
      <span>© 2024 Mazhil Matrimony</span><br>
      <span>Innovation with Heart, Crafted by People Power</span>
    </div>
  </nav>

