<div class="container">
    <div class="card-body mt-5 pt-3">
      <div class="carousel-inner" data-ride="carousel">
        <div class="carousel-item active">
            <img src="/assets/Images/image1.jpeg" class="d-block w-100" alt="Carousel Image">
        </div>  
    </div>    
    </div>          
</div>

<div class="container contact-container">
    <div id="contactSection">
        <span class="rounded">
            <h4 class="head">Contact Us Anytime!!</h4>
            <p><strong>Email: </strong><a href="mailto:magizhmatrimony@gmail.com" class="email-link"><strong class="col">mazhilmatrimony&#64;gmail.com</strong></a></p>
            <p><strong>Phone No :</strong><strong class="col">+1 8579953925</strong></p>
            <!-- Add a Contact Form (optional) -->
            <!-- Add Social Media Links (optional) -->
            <!-- Embed a Map (optional) -->
        </span>
    </div>
</div>
